@charset "UTF-8";
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Se declara operacion para poder cumplir con el desafio  operaciones de SAAS */
body {
  background-color: #ffffff;
}

header {
  padding: 15px;
  height: 150px;
  border-bottom: 5px solid #212529;
  background-color: #212529;
}

header img {
  width: 80px;
  border: 1px solid #ffffff;
}

header h1 {
  color: #9F42CD;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
  margin-top: -50px;
}

h2 {
  color: #ffffff;
  text-decoration: underline;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 10px;
  color: #ffffff;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
}

ul li:hover ul {
  display: block;
  background: #212529;
  border-radius: 15px;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

p {
  color: #000000;
}

/* Acá utilizo la operacion de multplicar para cumplir con el desafio (height: $altura * 2;)*/
footer {
  color: #ffffff;
  background: radial-gradient(circle, #020024 0%, #090979 32%, #00d4ff 93%);
  width: 100%;
  height: 200px;
  margin-top: 700px;
}

footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 19px;
}

/* Estilo particular de mi index. */

.mainIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.proyectosDestacados {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.productoDeLaSemana {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.containerCards {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.containerCards .card {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18%, #9f42cd), color-stop(64%, #a387b1));
  background: linear-gradient(0deg, #9f42cd 18%, #a387b1 64%);
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25;
  transition: all 0.25;
}

.containerCards .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0);
}

.containerCards .card img {
  width: 300px;
  height: 100px;
}

.containerCards .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

/* Estilo particular de "sobreNosotros" (Aca aplique Grid, para cumplir el desafio) */

.quienesSomos {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.porqueElegirnos {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.mainNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

/* Estilo particular de "materiales" */

.materiales {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
}

.precio {
  margin: 20px 10px;
}

.video {
  margin: 20px 10px;
  padding: 20px 20px;
  text-decoration: underline;
}

.videoExplicativo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-box-shadow: 10px 10px 111px 7px black;
          box-shadow: 10px 10px 111px 7px black;
}

/* Estilo particular de "contacto" */

.contacto {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
}

.informacionDeProductos {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
}

.formulario {
  margin: 50px 200px 10px 10px;
  background: #212529;
  width: 100%;
  color: #ffffff;
}

.contenedor {
  margin: 50px 200px 10px 10px;
  background: #212529;
  width: 100%;
  color: #ffffff;
}

.datos {
  margin: 50px 200px 10px 10px;
  color: #ffffff;
}

.cualEsTuNombre {
  display: block;
  margin: 5px;
  color: #ffffff;
}

.apellido {
  display: block;
  margin: 5px;
  color: #ffffff;
}

.correo {
  display: block;
  margin: 5px;
  color: #ffffff;
}

.fecha {
  display: block;
  margin: 5px;
  color: #ffffff;
}

.generoFormulario {
  color: #ffffff;
}

.terminosCondiciones {
  color: #ffffff;
}

/* Desafio complementario de hacer un desplegable */

.otrosMedios {
  margin: 100px 200px 10px 10px;
  color: #ffffff;
  border-top: 5px solid #212529;
  width: 100%;
  padding: 20px;
  -webkit-text-decoration: underline #000000;
          text-decoration: underline #000000;
  background: #212529;
}

.desafioComplementario {
  list-style: none;
}

.elementoLi {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px;
  background: #212529;
  border-radius: 15px;
  padding: 3px;
}

/* Estilo particular de "nuestrosMuebles" */

.trabajos {
  color: #9F42CD;
  margin: 50px 200px 10px 10px;
  padding: 30px;
}

.escritorio {
  height: 700px;
  width: 580px;
  display: block;
  margin: 10px;
  -webkit-box-shadow: 15px 14px 15px 10px rgba(0, 0, 0, 0.69);
          box-shadow: 15px 14px 15px 10px rgba(0, 0, 0, 0.69);
}

.mesaDeRoble {
  height: 700px;
  width: 580px;
  margin: 10px;
  -webkit-box-shadow: 15px 14px 15px 10px rgba(0, 0, 0, 0.69);
          box-shadow: 15px 14px 15px 10px rgba(0, 0, 0, 0.69);
}

.trabajosRealizados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comprarEnLinea {
  text-align: center;
  margin-top: 25px;
  width: 100%;
}

table tr th {
  background-color: #9F42CD;
  border: 1px solid;
}

/* Mediqueries */

@media (max-width: 460px) {
  header img {
    display: none;
  }
  header h1 {
    color: #9F42CD;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
    margin: 0%;
  }
  ul li {
    list-style-type: none;
    margin: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul li a {
    color: #0023FF;
    text-decoration: none;
  }
  footer h4 {
    display: inline-block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */

@media (max-width: 1110px) {
  
  footer {
    color: #ffffff;
    background: radial-gradient(circle, #020024 0%, #090979 32%, #00d4ff 93%);
    width: 100%;
    height: 200px;
    margin-top: 800px;
  }
}


@media (max-width: 735px) {
  footer {
    color: #ffffff;
    background: radial-gradient(circle, #020024 0%, #090979 32%, #00d4ff 93%);
    width: 100%;
    height: 200px;
    margin-top: 850px;
  }
}

@media (max-width: 730px) {

  footer {
    color: #ffffff;
    background: radial-gradient(circle, #020024 0%, #090979 32%, #00d4ff 93%);
    width: 100%;
    height: 200px;
    margin-top: 1300px;
  }
}